<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database_Project.Properties.Settings.personConnectionString"
            connectionString="Data Source=DESKTOP-4DR82DE\SQLEXPRESS;Initial Catalog=person;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Database_Project.Properties.Settings.Ta_LD_managementsystemConnectionString"
            connectionString="Data Source=DESKTOP-4DR82DE\SQLEXPRESS;Initial Catalog=Ta_LD_managementsystem;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>